<a href="https://colab.research.google.com/github/gclauz/exercicios/blob/main/Aula02_An%C3%A1lise_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 02 - Analise de dados


*   Item da lista
*   Item da lista
*   Item da lista

In [ ]:
#nomeando variaveis
laranja, melao, limao = 1,2,3
print(laranja, melao, limao)

1 2 3

In [ ]:
#atribuindo várias váriaveis com o mesmo valor
caju = jaboticaba = carambola = 100
print (caju, jaboticaba, carambola)

100 100 100

In [ ]:
#nomear com listas
lista_carros = ['fiat', 'ferrari','tesla']
marca01, marca02, marca03 = lista_carros
print(marca01, marca02, marca03)

fiat ferrari tesla

In [ ]:
#nomear variáveis
Nome = 'Leandro'
Sobrenome = 'Zerbinatti'
Nome_completo = Nome + Sobrenome
print(Nome_completo)

In [ ]:
#variaveis com diversos tipos
Nome = 'Leandro'
Idade = '52' #esta declaracao esta correta?
print(Nome + ' ' + Idade)

Leandro 52

In [ ]:
investimento = 1000
Taxa_Juros = float(0.2)
print (investimento * Taxa_Juros)
valor_total = (investimento * Taxa_Juros) + investimento
print (valor_total)

200.0
1200.0

In [ ]:
string = str('Hello world')
inteiro = int(10)
flutuante = float(100.5)
complexo = complex(1j)
lista = ({'Maçã', 'Morango'})
tupla = ({'A', 'B'})
Range = range (6)
dicionario = dict(nome = 'Leandro', age = '52')
booleano = bool(5)
Byte = bytes(5)
Bytearray = bytearray(5)
Memorybytes = memoryview(bytes(5))

from datetime import datetime
Data = datetime.today().date

In [ ]:
type(string)